<!-- public/views/current.ejs -->

<div class="current-weather">
  <h2>Today's weather</h2>
  <div class="current-weather-summary-group">
    <span id="current-weather-icon"></span>
    <div id="current-weather-summary-short">
      <%= currentShortWeatherSummary %>
    </div>
  </div>
  <div id="current-weather-summary-long">
    <%= currentLongWeatherSummary %>
  </div>
  <div id="current-weather-temperature">
    <!-- <span>Feels like:</span> -->
    <span id="current-weather-temperature-value">
      <%= currentWeatherTemperature.toFixed(1) %>˚<%= temperatureDisplay %>
    </span>
  </div>
  <div id="current-weather-humidity-value">
    Humidity: <%= weather.currently.humidity.toFixed(1) * 100 %>%
  </div>
  <div id="current-weather-precip-value">
    Chance of rain: <%= weather.currently.precipProbability.toFixed(1) * 100 %>%
  </div>
</div>
